-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "candle_style" AS ENUM ('Jar', 'Large Tumbler', 'Small Tumbler', 'Three-Wick', 'Mini');

-- CreateTable
CREATE TABLE "candles" (
    "candle_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "candle_name" VARCHAR(255) NOT NULL,
    "candle_style" VARCHAR(255) NOT NULL,
    "candle_description" TEXT,
    "candle_brand" VARCHAR(255),

    CONSTRAINT "candles_pkey" PRIMARY KEY ("candle_id")
);

-- CreateTable
CREATE TABLE "candles_fragrances" (
    "candle_id" UUID NOT NULL,
    "fragrance_id" UUID NOT NULL,

    CONSTRAINT "candles_fragrances_pkey" PRIMARY KEY ("candle_id","fragrance_id")
);

-- CreateTable
CREATE TABLE "fragrances" (
    "fragrance_id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "fragrance_name" VARCHAR(255) NOT NULL,

    CONSTRAINT "fragrances_pkey" PRIMARY KEY ("fragrance_id")
);

-- CreateIndex
CREATE UNIQUE INDEX "fragrances_fragrance_name_key" ON "fragrances"("fragrance_name");

-- AddForeignKey
ALTER TABLE "candles_fragrances" ADD CONSTRAINT "fk_candle" FOREIGN KEY ("candle_id") REFERENCES "candles"("candle_id") ON DELETE CASCADE ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "candles_fragrances" ADD CONSTRAINT "fk_fragrance" FOREIGN KEY ("fragrance_id") REFERENCES "fragrances"("fragrance_id") ON DELETE CASCADE ON UPDATE NO ACTION;

